<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BKR.Test.ToscaReportGenerator.ToscaReportGenerator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ToscaReportGenerator.ToscaReportGenerator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>  
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <BKR.Test.ToscaReportGenerator.ToscaReportGenerator>
      <setting name="workspacePath" serializeAs="String">
        <value>C:\TOSCA_PROJECTS\TOSCA_Workspaces\BKR Tom\BKR Tom.tws</value>
      </setting>
      <setting name="loginName" serializeAs="String">
        <value>tomw</value>
      </setting>
      <setting name="loginPassword" serializeAs="String">
        <value>welkom!01</value>
      </setting>
      <setting name="mainExList" serializeAs="String">
        <value>inData</value>
      </setting>
      <setting name="filenameXml" serializeAs="String">
        <value>inData.xml</value>
      </setting>
      <setting name="filenameXslt" serializeAs="String">
        <value>Report.xslt</value>
      </setting>
      <setting name="foldername" serializeAs="String">
        <value>D:\Tom\XSLT</value>
      </setting>
    </BKR.Test.ToscaReportGenerator.ToscaReportGenerator>
  </userSettings>
</configuration>